*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font-raleway);
  line-height: 1.4;
  background: var(--color-luna-white);
  color: var(--color-pure-black);
  letter-spacing: 0.05rem;
}

img {
  max-width: 100%;
  display: block;
}

:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}
