@use "./breakpoints" as *;
@use "./variables";
@use "./base";

.container {
	padding-inline: 1rem;

	@media (min-width: $tablet) {
		padding-inline: 4rem;
	}

	@media (min-width: $desktop) {
		padding-inline: 10rem;
	}
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
	font-size: 1.4rem;
	height: 3.5rem;
	padding: 0 1.8rem;
	border-radius: 3rem;
	text-decoration: none;
	cursor: pointer;
}

.button--primary {
	background-color: var(--color-accent);
	color: var(--color-luna-white);
	transition: filter 0.12s ease, transform 0.06s ease;
	width: fit-content;
}

.button--secondary {
	background-color: transparent;
	color: var(--color-accent);
	border: 1 px solid var(--color-accent);
}

.button--minimal {
	border-radius: 0;
	border-bottom: 1px solid var(--color-pure-black);
	padding: 0;
	color: var(--color-pure-black);
	transition: all 0.12s ease;
	height: fit-content;
	min-width: fit-content;
	width: fit-content;

	&:hover {
		background: var(--color-pure-black);
		color: var(--color-luna-white);
	}

	&::after {
		content: "";
		display: inline-block;
		width: 1.1rem;
		height: 1.1rem;
		margin-left: 0.8rem;
		background-image: url("/images/arrow-diagonal.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		align-self: center;
	}
}

.header {
	margin-top: 1rem;
  font-family: var(--font-raleway);
	font-weight: 500;
  color: var(--color-pure-black);

	a {
		text-decoration: none;
		color: var(--color-pure-black);
		font-size: 1.4rem;

		&.button--primary {
			color: var(--color-luna-white);
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-content: center;
    flex-wrap: wrap;
	}

	&__logo {
		img {
			max-width: 2.4rem;

			@media (min-width: $tablet) {
				max-width: 2.8rem;
				margin-top: 7px;
			}
		}
	}

	&__checkbox--mobile {
		display: none;
	}

	&__hamburger {
		display: flex;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		margin-top: 3px;

		span {
			width: 2.4rem;
			height: 1px;
			background: var(--color-pure-black);
			transition: transform 0.3s ease, opacity 0.2s ease;
		}
	}

	&__nav {
		position: fixed;
		inset: 6rem 0 0 1rem;
		background: var(--color-luna-white);
		transform: translateX(100%);
		transition: transform 0.35s ease;
		padding: var(--space-lg);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__nav__item {
		text-decoration: none;
		color: inherit;
		padding: 0.4rem 0;
		font-size: 1.6rem;
	}

	&__cta--desktop {
		display: none;
	}

	&__cta--mobile {
		margin: 10vh auto 0 auto;
		width: 13rem;
	}

	&__checkbox--mobile:checked ~ &__nav {
		transform: translateX(0);
	}

	&__checkbox--mobile:checked ~ &__hamburger {
		gap: 10px;
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(1) {
		transform: rotate(45deg) translateY(7px) translateX(7px);
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(2) {
		opacity: 0;
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(3) {
		transform: rotate(-45deg) translateY(-9px) translateX(8px);
	}

	@media (min-width: $tablet) {
		&__hamburger,
		.header__cta--mobile {
			display: none;
		}

		&__nav {
			display: flex;
			position: static;
			transform: none;
			background: none;
			padding: 0;
			flex-direction: row;
			gap: 3vw;
			inset: auto;
		}

		&__nav__item {
			font-size: 1.4rem;
			align-self: center;
		}

		&__cta--desktop {
			display: flex;
		}

		@media (min-width: $desktop) {
			&__nav {
				gap: 8.5rem;
			}
		}
	}
}

.hero {
	padding: 4rem 0 6rem 0;

	@media (min-width: $tablet) {
		padding: 6rem 0 8rem 0;
	}

	@media (min-width: $desktop) {
		padding: 8rem 0 10rem 0;
	}

	&__content {
		display: grid;
		grid-template-areas:
			"job-title job-title"
			"headline headline"
			"portrait intro"
			". actions"
			"ref ref";
		grid-template-columns: 1fr 2fr;

		@media (min-width: $tablet) {
			grid-template-areas:
			"job-title job-title job-title"
			"headline headline headline"
			". intro intro"
			"ref portrait actions";
			grid-template-columns: 1fr min-content 1fr;
		}

	}

	&__job-title,
	&__headline {
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			text-align: left;
		}
	}

	&__job-title {
		grid-area: job-title;
		font-size: 2rem;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
		color: var(--color-pure-black);
		margin: 10rem auto 0.5rem auto;
		font-family: var(--font-cormorant);

		@media (min-width: $tablet) {
			margin-left: 33%;
		}
	}

	&__headline {
		grid-area: headline;
		display: flex;
    flex-direction: column;
		position: relative;
		font-size: 4.4rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
		color: var(--color-pure-black);
		margin-bottom: 4rem;

		@media (min-width: $tablet) {
			font-size: 4.4rem;
		}

		@media (min-width: $desktop) {
			font-size: 8rem;
		}

		&--serif {
			margin: 0 auto;
			width: fit-content;
			font-family: var(--font-cormorant);
			font-weight: 400;
		}

		&--sans {
			margin: 0 auto;
			width: fit-content;
			font-weight: 500;
			font-size: 4rem;

			@media (min-width: $desktop) {
				font-size: 7.5rem;
			}
		}

		&--serif,
		&--sans {
			@media (min-width: $tablet) {
				margin-left: 33%;
			}
		}
	}

	&__amp {
		position: absolute;
		font-weight: 600;
		font-size: 8rem;
		color: var(--color-luna-medium);
		z-index: -1;
		bottom: -0.5rem;
		line-height: 100%;

		@media (min-width: $tablet) {
			font-size: 12rem;
			margin-left: 1rem;
		}
	}

	&__intro {
		grid-area: intro;
		font-size: 1.6rem;
		line-height: 1.6;
		margin: 0 0 2.4rem 0;
		color: var(--color-pure-black);
	}

	&__actions {
		grid-area: actions;
		display: flex;
		gap: 1.6rem;
		flex-wrap: wrap;
		align-items: center;

		@media (min-width: $tablet) {
    	align-items: flex-start;
			height: fit-content;
		}

	}

	.button--minimal {
		margin: 1rem 1rem 0 0;
	}

	&__figure {
		grid-area: portrait;
		padding: 1rem 1.5rem 0 0;
		margin: 0;

		@media (min-width: $tablet) {
			padding-top: 0;
			max-width: 230px;
			width: 230px;
		}
	}

	&__portrait {
		width: 100%;
	}
}




