@use "./breakpoints" as *;
@use "./variables";
@use "./base";

.container {
	padding-inline: 1rem;

	@media (min-width: $tablet) {
		padding-inline: 4rem;
	}

	@media (min-width: $desktop) {
		padding-inline: 10rem;
	}
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
	height: 3.5rem;
	min-width: 10rem;
	padding: 0 1.2rem;
	border-radius: 3rem;
	text-decoration: none;
	cursor: pointer;
}

.button--primary {
	background-color: var(--color-accent);
	color: var(--color-luna-white);
	transition: filter 0.12s ease, transform 0.06s ease;
}

.header {
	margin-top: 1rem;
  font-family: var(--font-raleway);
	font-weight: 500;
  color: var(--color-pure-black);

	a {
		text-decoration: none;
		color: var(--color-pure-black);
		font-size: 1.4rem;

		&.button--primary {
			color: var(--color-luna-white);
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-content: center;
    flex-wrap: wrap;
	}

	&__logo {
		img {
			max-width: 2.4rem;

			@media (min-width: $tablet) {
				max-width: 2.8rem;
				margin-top: 7px;
			}
		}
	}

	&__checkbox--mobile {
		display: none;
	}

	&__hamburger {
		display: flex;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		margin-top: 3px;

		span {
			width: 2.4rem;
			height: 1px;
			background: var(--color-pure-black);
			transition: transform 0.3s ease, opacity 0.2s ease;
		}
	}

	&__nav {
		position: fixed;
		inset: 6rem 0 0 1rem;
		background: var(--color-luna-white);
		transform: translateX(100%);
		transition: transform 0.35s ease;
		padding: var(--space-lg);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__nav__item {
		text-decoration: none;
		color: inherit;
		padding: 0.4rem 0;
		font-size: 1.6rem;
	}

	&__cta--desktop {
		display: none;
	}

	&__cta--mobile {
		margin: 10vh auto 0 auto;
		width: 13rem;
	}

	&__checkbox--mobile:checked ~ &__nav {
		transform: translateX(0);
	}

	&__checkbox--mobile:checked ~ &__hamburger {
		gap: 10px;
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(1) {
		transform: rotate(45deg) translateY(7px) translateX(7px);
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(2) {
		opacity: 0;
	}

	&__checkbox--mobile:checked ~ &__hamburger span:nth-child(3) {
		transform: rotate(-45deg) translateY(-9px) translateX(8px);
	}

	@media (min-width: $tablet) {
		&__hamburger,
		.header__cta--mobile {
			display: none;
		}

		&__nav {
			display: flex;
			position: static;
			transform: none;
			background: none;
			padding: 0;
			flex-direction: row;
			gap: 3vw;
			inset: auto;
		}

		&__nav__item {
			font-size: 1.4rem;
			align-self: center;
		}

		&__cta--desktop {
			display: flex;
		}

		@media (min-width: $desktop) {
			&__nav {
				gap: 8.5rem;
			}
		}
	}
}


